<html>
	<head>
		<title>MatCalc</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
		<script src="https://use.fontawesome.com/f3009b4d7d.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div ng-app="matcalc" ng-controller="matcalcCtrl" ng-init="init()">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<select name="recipeSelector" ng-model="recipeSelection" ng-options="recipe as recipe.name for recipe in recipes" class="form-control"></select>
			</nav>
			
			<script type="text/ng-template" id="recipeTree">
				<img ng-src="{{ recipe.icon }}" width="40" height="40" class="mr-2">
				<span ng-if="recipe.quantity > 0">
					<input ng-model="recipe.have" type="number"></input> out of <b>{{ recipe.quantity }}</b> 
				</span>
				<a href="#collapse{{recipe.id}}" data-toggle="collapse" ng-class="isComplete(recipe)">{{ recipe.name }}</a>
				 <span class="fa fa-check complete" ng-show="(recipe.have === recipe.quantity)"></span>
				<ul ng-if="recipe.tree" id="collapse{{recipe.id}}" class="collapse">
					<li ng-repeat="recipe in recipe.tree | filter:{isCrystal : false}" ng-include="'recipeTree'" class="pt-2">
				</ul>
			</script>
						
			<ul ng-show="recipe.name" class="mt-4">
				<li ng-include="'recipeTree'">
			</ul>
			
		</div>
			
		<script src="matcalcApp.js"></script>
		<script src="matcalcCtrl.js"></script>
	</body>
</html>	
