<img ng-src="{{ recipe.icon }}" class="icon" width="40" height="40">
<span ng-if="recipe.quantity > 0">
	<input type="number" ng-model="recipe.have" class="quantity ml-1"> / <b>{{ recipe.quantity }}</b>
</span>
<span ng-class="{'ml-1': !recipe.quantity, 'complete': (recipe.have >= recipe.quantity)}">
	<a href="{{ recipe.url }}" target="_blank">{{ recipe.name }}</a>
	<i class="fa fa-check" ng-show="(recipe.have >= recipe.quantity)"></i>
</span>
<ul ng-if="recipe.tree" id="{{ $index }}" ng-class="(recipe.have >= recipe.quantity) ? '' : 'show'" class="collapse">
	<li ng-repeat="recipe in recipe.tree | filter:{isCrystal : false}" mc-recipe-tree recipe="recipe" class="my-2">
</ul>