body
{
	background-color: #f8f9fa;
}

button, .btn, .sortable, .fa
{
	cursor: pointer;
}

ul
{
	list-style-type: none;
}

.no-gutters > [class*="col-"]
{
	padding-right: 3px;
	padding-left: 3px;
}

.card
{
	box-shadow: 2px 2px #EEE;
	margin-bottom: 7px;
}

.card-header
{
	padding: 0;
}

.card-title
{
	font-size: 1.3em;
}

.card-body
{
	padding: 5px;
}

.list
{
	margin: 0;
		margin-left: -40px;
	padding: 0;
}

.complete
{
	color: green;
	font-weight: bold;
}

img.header
{
	margin: 0;
	padding: 0;
}

img.icon
{
	border: 2px solid #AAA;
	border-radius: 10px;
	box-shadow: 2px 2px #CCC;
}

.recipe
{
	margin: 15px;
	background-color: #FFF;
	box-shadow: 2px 2px #EEE;
	border: 1px solid #CCC;
	padding: 0;
		padding-bottom: 15px;
}

a.cancel
{
	color: #DDD;
	position: absolute;
		top: 1px;
		right: 1px;
}

a.cancel:hover
{
	color: #AAA;
}

input.quantity
{
	width: 35pt;
}
