button, .btn, .sortable, .fa
{
	cursor: pointer;
}

ul
{
	list-style-type: none;
}

li
{
	margin-left: -15px;
}

input[type=number]
{
	width: 25pt;
}

.complete
{
	color: green;
	font-weight: bold;
}

a > img
{
	border: 2px solid;
	border-radius: 10px;
	box-shadow: 2px 2px #CCC;
}